$transition-speed: 0.4s;

.top-nav {
    display: flex;
    width: 100vw;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    padding: 0.5rem 2rem;
    z-index: 20;

    background-color: var(--primary);

    >.start {
        img {
            width: 50px;
            height: 50px;
        }
    }

    >.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .search {
            --height: 2.8rem;
            display: flex;
            align-items: center;
            height: var(--height);


            span {
                background-color: var(--cooler-white);
                height: var(--height);
                width: var(--height);
                display: grid;
                place-items: center;

                img {
                    width: 25px;
                    height: 25px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }

            input {
                height: var(--height);
                width: 40vw;
                border: none;
                font-size: 0.8rem;
                padding-left: 0.5rem;
                outline: none;

                transition: display 1s ease-in-out;
            }

            input:focus {
                outline: none;
            }

            input:focus::placeholder {
                visibility: hidden;
            }
        }
    }

    .menu {
        .icons-container {
            .icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                a {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        .nav-link-container {
            position: absolute;
            left: 0;
            width: 100vw;
            margin-top: 1.2rem;
            color: var(--primary);
            font-size: large;
            display: grid;
            place-items: center;
            background-color: var(--cooler-white);
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;

            .nav-links {
                display: flex;
                justify-content: space-around;
                padding: 0.25rem;
                gap: 1rem;
                width: 25vw;
            }
        }
    }
}

// has to be placed here to work well - perhaps due to specifity issues
.ham {
    display: none;
}



@media screen and (max-width: 768px) {
    .top-nav {
        padding-left: 1rem;
        padding-right: 1rem;

        .menu {
            .icons {
                position: absolute;
                top: 10vh;
                left: 50%;
                transform: translateX(-50%);

                display: flex;
                width: fit-content;

                z-index: 20;

                transition: top ease-in-out $transition-speed;

                a {
                    background-color: var(--primary);
                    width: 100%;
                    padding: 1rem;
                    border-radius: 10px;

                    img {
                        width: 50px !important;
                        height: 50px !important;
                    }
                }
            }

            .ham {
                display: flex;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                flex-direction: column;
                width: 30px;
                height: 30px;
                justify-content: space-around;
                align-items: center;


                z-index: 10;


                .line {
                    width: 30px;
                    height: 2px;
                    background-color: var(--accent);
                }
            }

            .ham.active .line:first-child {
                transform: rotate(45deg);
                position: absolute;

                transition: transform 0.2s ease-in-out;
            }

            .ham.active .line:nth-child(2) {
                visibility: hidden;
            }

            .ham.active .line:last-child {
                transform: rotate(-45deg);
                position: absolute;

                transition: transform 0.2s ease-in-out;
            }

            .ham .line {
                transition: 0.1s ease-in-out;
            }

            .nav-link-container {
                top: 3rem;
                padding-top: 15vh;
                height: 3rem;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding-bottom: 2rem;
                height: 50vh;
                z-index: 10;
                box-shadow: 0px 10px 20px -10px rgba(100, 100, 100, 0.75);

                transition: top ease-in-out $transition-speed;

                .nav-links {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    gap: 1rem;
                    height: 30vh;

                    .navlink {
                        a {
                            color: var(--primary);
                            padding: 0.5rem 0.8rem;
                            border: 1px solid var(--primary);
                            border-radius: 50px;
                        }
                    }
                }
            }
        }

        .menu.inactive{
            .icons{
                top: -8rem;

                transition: top ease-in-out $transition-speed;
            }
            .nav-link-container{
                top: -65vh;

                transition: top ease-in-out $transition-speed;
            }
        }
    }
}