.shop {
  background-color: var(--primary);
  width: 100vw;
}
.shop .cards-container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  row-gap: 5rem;
  column-gap: 3rem;
  flex-wrap: wrap;
}
.shop .cards-container .shop-card {
  background-color: var(--cooler-white);
  height: 550px;
  width: 350px;
  box-shadow: 0px 10px 20px -10px rgba(255, 255, 255, 0.75);
  padding-top: 1rem;
  border-radius: 10px;
}
.shop .cards-container .shop-card .images-container {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  isolation: isolate;
}
.shop .cards-container .shop-card .images-container .indicator-left,
.shop .cards-container .shop-card .images-container .indicator-right {
  content: "";
  color: var(--accent);
  display: grid;
  place-items: center;
  text-align: center;
  padding-bottom: 0.2rem;
  padding-left: 0.25rem;
  font-size: xx-large;
  width: 20%;
  background-color: var(--cooler-white);
}
.shop .cards-container .shop-card .images-container .indicator-left:hover,
.shop .cards-container .shop-card .images-container .indicator-right:hover {
  cursor: pointer;
  color: var(--cooler-twelve);
}
.shop .cards-container .shop-card .images-container .indicator-left {
  rotate: -180deg;
}
.shop .cards-container .shop-card .images-container ::-webkit-scrollbar {
  display: none;
}
.shop .cards-container .shop-card .images-container .images {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 10%;
  width: 100%;
}
.shop .cards-container .shop-card .images-container .images img {
  height: 100%;
  width: 50px;
  object-fit: cover;
  object-position: top;
}
.shop .cards-container .shop-card .images-container .images .main-image {
  position: absolute;
  width: 100%;
  height: 85%;
  object-fit: cover;
  top: -1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  left: 0;
}
.shop .cards-container .shop-card .shop-card-details {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
}
.shop .cards-container .shop-card .shop-card-details .item-details {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  justify-content: flex-end;
  gap: 0.5rem;
}
.shop .cards-container .shop-card .shop-card-details .item-details .name {
  font-size: x-large;
}
.shop .cards-container .shop-card .shop-card-details .item-details .price {
  font-size: large;
}
.shop .cards-container .shop-card .shop-card-details .shop-card-buttons {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 50px;
}
.shop .cards-container .shop-card .shop-card-details .shop-card-buttons .shop-card-icon:nth-child(1) {
  margin-left: 15px;
}
.shop .cards-container .shop-card .shop-card-details .shop-card-buttons .shop-card-icon:nth-child(2) {
  margin-left: 10px;
}
.shop .cards-container .shop-card .shop-card-details .shop-card-buttons .shop-card-icon:last-child a {
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--cooler-twelve);
}
.shop .cards-container .shop-card .shop-card-details .shop-card-buttons .shop-card-icon img {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=shop.css.map */
